

body, html{
        font-family: Open Sans,'Helvetica Neue',Arial,sans-serif;
        overflow-x:hidden;
        overflow-y:scroll;
    }

 .tab1{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    float: left;
    margin: 5px;
    z-index: 10;
    border-radius: 6px;
    cursor: pointer;
    background: #2F4F4F;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.tab1:hover {
    /*background: #ff7b29;*/
    background: #C25858;
}

.section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}
/*white color section*/
.section-b {
  position: relative;
    padding: 10px 0 60px 0;
    /*border-top: 1px solid #e7e7e7;*/
    border-bottom: 1px solid #e7e7e7;
}

.hideall{
    display: none;
}

#img1{
  position: relative;
  top: -14px;
  left:-90px;  
  width:240px;
  height:50px;
}
#img2{
  position: absolute;
  top:-5px;
  left:-1px;
  width:160px;
  height:50px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 500px;
      margin: auto;
  }
.carousel-capt{
    position:absolute;
    top: 210px;
    z-index: 10;
}
.change{
  position: relative;
  z-index: 10;
  left: 0px;
  float: left; 
}
.change1{
  position: relative;
  z-index: 10;
  left: 0px;
  float: left; 
}
.change2{
  position: relative;
  z-index: 10;
  left: 0px;
  float: left; 
}
.change3{
  position: relative;
  z-index: 10;
  left: 0px;
  float: left; 
}
#test{
    position:relative;
    top:-180px;
    /*left:30px;*/
}
#advsearchitem1{
  z-index: 10;
}
#advsearchitem2{
  z-index: 10;
}
#advsearchitem3{
  z-index: 10;
}
#advsearchitem4{
  z-index: 10;
}
#arrow{
  position: relative;
  top:-150px;
  left:10px;
  z-index: 10;
  color: white;
  font-size: 30px;
  line-height: 25px;
  font-weight: 700;
  cursor: pointer;
}
#arrowback{
  position: relative;
  top:-90px;
  right: 20px;
  z-index: 10;
  color: white;
  font-size: 30px;
  line-height: 25px;
  font-weight: 700;
  cursor: pointer;
  
}
/*#arrow:hover{
    -webkit-animation-name: arrowmove;*/ /* Chrome, Safari, Opera */
    /*-moz-animation-name: arrowmove;
    -webkit-animation-duration: 0.8s; *//* Chrome, Safari, Opera */
    /*-moz-animation-duration: 0.8s;
    animation-name: arrowmove;
    animation-duration:0.8s;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite; *//* Chrome, Safari, Opera */
    /*animation-iteration-count: infinite;

}*/

@keyframes arrowmove{
    50%  {left: 25px;}
    100% {left: 10px;}
  }

  #arrowback:hover{
    -webkit-animation-name: arrowbackmove; 
    -moz-animation-name: arrowbackmove;
    -webkit-animation-duration: 2s; 
    -moz-animation-duration: 2s;
    animation-name: arrowbackmove;
    animation-duration:2s;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite; 
    animation-iteration-count: infinite;

}

@keyframes arrowbackmove{
    50%  {right: 10px;}
    100% {right: 25px;}
  }
 
   
  #clickone{
        font-size: 15px;
        color:RGB(52, 175, 209);
        position:relative;
        /*left: 90px;*/
        text-align: center;
        cursor:pointer;
        text-decoration:none;  
        font-weight: bold;

    }
    
    #clicktwo{
        font-size:15px;
        color:RGB(52, 175, 209);
        position: relative;
        /*left: 100px;*/
        text-align: center;
        cursor:pointer;
        text-decoration:none;  
        font-weight: bold;

    }

  #signin{
        /*width:301px;
        height:35px;*/
        /*border-right: 1px ridge rgb(52, 175, 209);*/ 
        /*transition-property: border-bottom;
        transition-duration: 0.5s;
        transition-timing-function: linear;*/
        position: relative;
        float: left;
        top: 14px;
        height:29px; 
    }
    #signup{
        /*width:260px;
        height:35px;*/
        /*left:315px;*/
        position: relative;
        float: left;
        top: 15px;
        height:28px;
    }    
        #login-account{
        /*width: 400px;*/
        outline: none;
        border:hidden;
        text-align: center;
        position: relative;
        font-weight:600;
    }

    #create-account{
       /* width: 400px;*/
        outline: none;
        border:hidden;
        text-align: center;
        position: relative;
        font-weight:600;
    }
    /*#signin:hover{
        border-bottom: 4px ridge #cb7602;
        border-right: 2px solid white; 
    }
    #signup:hover{
        border-bottom: 4px ridge #cb7602;
        border-left: 2px solid white;
        

    }*/


.cmn-t-underline{
  position: absolute;
}
.cmn-t-underline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 4px;
  background-color: #52AFD1;
  content: "";
  transition: width 0.2s;
}
.cmn-t-underline:hover {
  color: #52AFD1;
}
.active{
  border-bottom: 2px solid #98004a;
}
.cmn-t-underline:hover:after {
  width: 100%;
}

.tooltip.top .tooltip-inner {
    background-color: green;
    z-index: 3;
    opacity: 0.9;

}
.tooltip.top .tooltip-arrow {
      border-top-color: green;
      z-index: 3;
      opacity: 0.9;

}
.tooltip.bottom .tooltip-inner {
    background-color: green;
    z-index: 3;
    opacity: 0.9;

}
.tooltip.bottom .tooltip-arrow {
      border-bottom-color: green;
      z-index: 3;
      opacity: 0.9;

}