

body, html{
        font-family: Open Sans,'Helvetica Neue',Arial,sans-serif;
        overflow-x:hidden;
        overflow-y:scroll;
    }
/*.row-centered {
    text-align:center;
}*/
/*.col-centered {
    display:inline-block;
    float:none; */
    /* reset the text-align */
  /* text-align:left; */         
    /* inline-block space fix */
   /* margin-right:4px;           
}*/


 .tab1{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    float: left;
    margin: 5px;
    z-index: 10;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    background: #2F4F4F;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.tab1:hover {
    background: #ff7b29;
}

  #check{
    position:relative;
    top: 180px;
    z-index: 10;
    text-align: center;
 }
   /*#tab2{
    position:relative;
    width:150px;
    height:50px;
    display:inline-block;
    float:left;
    margin-right:4px;*/
    /*top: -110px;*/
    /*left: 185px;*/
    /*color: white;
    z-index: 10;
    border-radius: 6px;
    cursor: pointer;
    line-height: 95px;
    text-align: center;
    background: #2F4F4F;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
#tab2:hover {
  background: #ff7b29;
}
   #tab3{
    position:relative;
    width:150px;
    height:50px;
    display:inline-block;
    float:left;
    margin-right:4px;*/
    /*top: -110px;*/
    /*left: 395px;*/
    /*color: white;
    z-index: 10;
    border-radius: 6px;
    cursor: pointer;
    line-height: 95px;
    text-align: center;
    background: #2F4F4F;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
#tab3:hover {
  background: #ff7b29;
}
   #tab4{
    position: relative;
    width:150px;
    height: 50px;
    display:inline-block;
    float:left;
    margin-right:4px;*/
    /*top: -110px;*/
    /*left: 605px;*/
    /*color: white;
    z-index: 10;
    border-radius: 6px;
    cursor: pointer;
    line-height: 95px;
    text-align: center;
    background: #2F4F4F;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
#tab4:hover {
  background: #ff7b29;
}*/
/*@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  #tab1{
    position: absolute;
    width:200px;
    height:50px;
    top:  -110px;
    left: -152px;
    color: white;
    z-index: 10;
    border-radius: 6px;
    cursor: pointer;
    line-height: 95px;
    text-align: center;
    background: #2F4F4F;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
#tab1:hover {
  background: #ff7b29;
}
   #tab2{
    position: absolute;
    width:200px;
    height:50px;
    top: -110px;
    left: 58px;
    color: white;
    z-index: 10;
    border-radius: 6px;
    cursor: pointer;
    line-height: 95px;
    text-align: center;
    background: #2F4F4F;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
#tab2:hover {
  background: #ff7b29;
}
   #tab3{
    position: absolute;
    width:200px;
    height:50px;
    top: -110px;
    left: 268px;
    color: white;
    z-index: 10;
    border-radius: 6px;
    cursor: pointer;
    line-height: 95px;
    text-align: center;
    background: #2F4F4F;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
#tab3:hover {
  background: #ff7b29;
}
   #tab4{
    position: absolute;
    width:200px;
    height: 50px;
    top: -110px;
    left: 478px;
    color: white;
    z-index: 10;
    border-radius: 6px;
    cursor: pointer;
    line-height: 95px;
    text-align: center;
    background: #2F4F4F;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
#tab4:hover {
  background: #ff7b29;
}
}*/

/* Track */
/*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #0A4C95; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}*/
 
/* Handle */
/*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}*/
/*::-webkit-scrollbar {
width: 4px;
height: 8px;
}

::-webkit-scrollbar-track-piece  {
background-color: #FFF;
}

::-webkit-scrollbar-thumb:vertical {
height: 80px;
background-color: black;
-webkit-border-radius: 10px;
border-radius: 10px;
}
::-moz-scrollbar {
width: 4px;
height: 8px;
}

::-moz-scrollbar-track-piece  {
background-color: #FFF;
}
background-color:#38978D
::-moz-scrollbar-thumb:vertical {
height: 80px;
background-color: black;
-webkit-border-radius: 10px;
border-radius: 10px;
}*/


.section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.hideall{
    display: none;
}
#img1{
  position: relative;
  top: -14px;  
  width:160px;
  height:50px;
}
#img2{
  position: absolute;
  top:-5px;
  width:160px;
  height:50px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 600px;
      margin: auto;
  }
.carousel-caption {
    position: absolute;
    top: 130px;
    z-index: 10;
}
#test{
    position: relative;
    top: -200px;
    left: 20px;
}

