

body, html{
        font-family: Open Sans,'Helvetica Neue',Arial,sans-serif;
        overflow-x:hidden;
        overflow-y:scroll;
    }

 .tab1{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    float: left;
    margin: 5px;
    z-index: 10;
    border-radius: 6px;
    cursor: pointer;
    background: #2F4F4F;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.tab1:hover {
    /*background: #ff7b29;*/
    background: #C25858;
}

.section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.hideall{
    display: none;
}

#img1{
  position: relative;
  top: -14px;  
  width:210px;
  height:50px;
}
#img2{
  position: absolute;
  top:-5px;
  width:160px;
  height:50px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 600px;
      margin: auto;
  }

.carousel-capt{
    position:absolute;
    top: 260px;
    z-index: 10;
}
.change{
  position: relative;
  z-index: 10;
  left: 0px;
  float: left; 
}
.change1{
  position: relative;
  z-index: 10;
  left: 0px;
  float: left; 
}
.change2{
  position: relative;
  z-index: 10;
  left: 0px;
  float: left; 
}
.change3{
  position: relative;
  z-index: 10;
  left: 0px;
  float: left; 
}
#test{
    position:relative;
    top:-220px;
    left:30px;
}
#advsearchitem1{
  z-index: 10;
}
#advsearchitem2{
  z-index: 10;
}
#advsearchitem3{
  z-index: 10;
}
#advsearchitem4{
  z-index: 10;
}
#arrow{
  position: relative;
  top:-180px;
  left:10px;
  z-index: 10;
  color: white;
  font-size: 30px;
  line-height: 25px;
  font-weight: 700;
  cursor: pointer;
}
#arrowback{
  position: relative;
  top:-90px;
  right: 20px;
  z-index: 10;
  color: white;
  font-size: 30px;
  line-height: 25px;
  font-weight: 700;
  cursor: pointer;
}
#arrow:hover{
    -webkit-animation-name: arrowmove; /* Chrome, Safari, Opera */
    -moz-animation-name: arrowmove;
    -webkit-animation-duration: 0.8s; /* Chrome, Safari, Opera */
    -moz-animation-duration: 0.8s;
    animation-name: arrowmove;
    animation-duration:0.8s;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-iteration-count: infinite;

}

@keyframes arrowmove{
    50%  {left: 25px;}
    100% {left: 10px;}
  }

  #arrowback:hover{
    -webkit-animation-name: arrowmove; /* Chrome, Safari, Opera */
    -moz-animation-name: arrowmove;
    -webkit-animation-duration: 0.8s; /* Chrome, Safari, Opera */
    -moz-animation-duration: 0.8s;
    animation-name: arrowmove;
    animation-duration:0.8s;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-iteration-count: infinite;

}

@keyframes arrowbackmove{
    50%  {right: 20px;}
    100% {right: 25px;}
  }